@import '../../mixinStyle/mixin';

.section_2 {
  @include m-top;

  .title {
    display: flex;
    justify-content: center;

    h1 {
      @include title();
      width: 28%;

    }
    .arrow{
      display: flex;
      align-items: flex-end;
    }

    button {
      background-image: url("../../assets/icon/arrow.svg");
      background-repeat: no-repeat;
      background-position: 50%;
      background-color: transparent;
      display: block;
      width: 45px;
      height: 45px;

      &:hover {
        background-image: url("../../assets/icon/active-arrow.svg");
        transform: rotate(180deg);
        z-index: 3;
        background-color: #f7f7f7;
      }
    }

    .rightArrow {
      transform: rotate(180deg);

      &:hover {
        transform: rotate(0deg);
      }
    }
  }

  .gallery{
    @include m-top;
    display: flex;
    justify-content: center;

    img{
      padding-left: 40px;
    }
  }

}