@font-face {
    font-family: New York Extra Large;
    src: url("./NewYorkExtraLargeBold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: SF UI Display Bold;
    src: url("./sf-ui-display-bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: SF UI Display Medium;
    src: url("./sf-ui-display-medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}